:root {
    /*--bg: url('./assets/bg.png');*/
    --light: #ffffff;
    --danger: #f44242;
    --primary: #41c4f4;
    --dark-opacity: rgba(0, 0, 0, 0.75);
    --semi-dark-opacity: rgba(0, 0, 0, 0.5);
    --light-opacity: #e9ecef;
    --msg-card-bg: rgba(200, 0, 255, 0.5);
}
